{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1 id="sodhlogo">Sodh</h1>
    <div class="row">
        <form role="form">
                <div class="form-group">
                    {# <label for="code">Search</label> #}
                    <input id="inputbox" class="form-control input-lg vertical-center" placeholder = "Enter your search term here" type="text">
                </div>
                <div class="span7 text-center"><button type="submit" class="btn btn-default btn-primary btn-lg">Search</button></div>
        </form>
    </div>
</div>

{% endblock content %}
