{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1 style="margin-top: 13%; text-align: center; font-size: 500%;">Sodh</h1>
    <div class="row">
        <form role="form">
                <div class="form-group">
                    {# <label for="code">Search</label> #}
                    <input class="form-control input-lg vertical-center" style="margin-top: 50px; margin-bottom: 50px" type="text">
                </div>
                <div class="span7 text-center"><button type="submit" class="btn btn-default btn-primary btn-lg">Search</button></div>
        </form>
    </div>
</div>

{% endblock content %}
