{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1>Sodh Homepage 1.0</h1>

    <form role="form">
        <div class="row">
            <div class="form-group">
                {# <label for="code">Search</label> #}
                <input class="form-control input-lg" type="text">
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
